{{> topHeader }}

<div class="index_header">
  <div class="header_logo h_logo">
    <img src="/images/anymoment.png" alt="AnyMoment">
    <hr>
    <span>AnyMoment</span>
  </div>
  <div class="right">
    <a href="/">Inicio</a>
    <a href="/profile/{{session.username}}">Perfil</a>
    <a href="/Logout">Sair</a>
  </div>
</div>
