{{> nHeader}}

<div class="notes_wrapper">
  <div class="welcome_div error_div">
    <div class="error_info">
      <span>Ops, a página não existe!</span>
    </div>
    <img src="/images/error.svg" alt="">
    <div class="error_bottom">
      <a href="/login" class="pri_btn error_login">Fazer login</a>
    </div>
  </div>
</div>

{{> footer}}
