{{> nHeader}}

<div class="notes_wrapper">

  <div class="forgot_password cua">
    <div class="display_text">
      <span>Esqueci a senha</span>
    </div>
    <form class="form_fp">
      <span class="fp_span" >Digite o e-mail de cadastro</span>
      <input type="email" class="fp_email" autofocus required spellcheck="false" autocomplete='false' placeholder='e-mail'>
      <input type="submit" name="" value="Enviar" class="fp_submit">
    </form>
  </div>

</div>

{{> footer}}
